<div class="w-100 main-footer">
    <div class="container d-flex pt-5 pb-5 justify-content-between">
        <div>
            <div class="mb-4 ms-1">
            <img src="../../../assets/images/FOOTER.png" alt="shoplogo" width="80px" class="ms-0 mt-3" height="50px">
            </div>
            <div class="mb-2 ms-1">
                <p>"To shop or not to shop, that's not even a question."</p>
                <p>"Shopping is finding joy in picking what you love."
                </p>
                <!-- <p class="ms-5"> - Marilyn Monroe</p> -->
                <a routerLink="/log" class="px-3 py-2 border border-0 rounded shop-btn text-dark mt-2 ms-4"><i class="fa-regular fa-heart mt-2 me-1"></i>Shop Now</a>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <h5>Quick Links</h5>
            <li class="mb-3 ms-1"><a routerLink="/home">Home</a></li>
            <li class="mb-3 ms-1"><a routerLink="/reg">Register</a></li>
            <li class="ms-1"><a routerLink="/log">Login</a></li>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <h5>Contact Us</h5>
            <li class="mb-3"><p><i class="fa-solid fa-at me-1" style="color: #ffad61;"></i>SHOPAPP</p></li>
            <li class="mb-3"><p><i class="fa-solid fa-phone me-1" style="color: #ffad61;"></i>+91-8241727531</p></li>
            <li><p><i class="fa-solid fa-globe me-1" style="color: #ffad61;"></i>www.shopapp.com</p></li>
        </div>
    </div>
   <footer>
        <p>&copy; 2024 SHOPAPP. All rights reserved.</p>
    </footer>
</div>