<app-usernav></app-usernav>
<div class="container mt-1">
    <h1 class="text-center">All Products</h1><hr>
    <div class="row mb-3">
        <input type="text" placeholder="Search By Product Name" [(ngModel)]="searchTitle" (input)="searchProduct()" class="rounded border-0 bg-light w-25 p-2 search-input">
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table *ngIf="!loader" class="table table-hover rounded shadow overflow-hidden text-center">
                <thead class="thead-gradient text-center">
                    <tr>
                        <th>S.No</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="(!products || products.length==0)">
                        <td colspan="11" class="text-center">
                            No data available at the moment.
                        </td>
                    </tr>
                    <tr *ngFor="let product of products,index as i">
                        <td>{{i+1}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <div>
                                <button class="btn btn-edit" (click)="product.productId !== undefined && showProduct(product.productId)">Show Product</button>
                            </div>        
                        </td>
                    </tr>
                </tbody>
            </table>   
        </div>
    </div>
</div>

<div *ngIf="show" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 mt-3">Product Details</h1>
            </div>
                <div class="card">
                    <p><span class="fw-bold">Product Name: </span>{{selectedProduct.productName}}</p>
                    <p><span class="fw-bold">Description: </span>{{selectedProduct.description}}</p>
                    <p><span class="fw-bold">Price: </span>{{selectedProduct.price}}</p>
                </div>
                <form [formGroup]="productForm" (ngSubmit)="addProductCart(selectedProduct)">
                    <div class="modal-body">
                        <div>
                            <label for="quantity" class="d-block">Quantity: </label>
                            <input type="number" id="quantity" name="quantity" formControlName="quantity" class="border-0 bg-secondary-subtle w-75 p-2 rounded-2">
                            <div class="error-msg mt-2" *ngIf="quantity && quantity.touched && quantity.invalid">
                                <div *ngIf="quantity.errors?.['min']" style="color:red">*Minimum quantity 1</div>
                                <div *ngIf="quantity.errors?.['required']" style="color:red">*Quantity is required</div>
                            </div>
                            <p *ngIf="successMsg" class="text-successmt-2">{{successMsg}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-edit" type="submit">Add Cart</button>
                        <button (click)="closeModal()" type="button" class="btn btn-secondary">Close</button>
                    </div>
                </form>    
            
        </div>    
    </div>
</div>


<div *ngIf="loader" class="loader">
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>          
</div>

<div *ngIf="emptyMsg" class="text-center">
    {{emptyMsg}}
</div>