<div class="poster-div">
    <app-navbar class="postion-fixed"></app-navbar>
    <div class="d-flex flex-column justify-content-center align-items-center pt-5 inner-div">
        <h1 class="text-center pt-5">Shop App</h1>
        <p class="text-center text-white" style="font-size: 35px; line-height: 30px;">Finding deals feels great.</p>    
    </div>
</div>

<div class="container card-section">
    <div class="d-flex justify-content-around px-3 card-div py-5 shadow">
        <div class="card pb-4">
            <div class="d-flex justify-content-center"><img src="../../../assets/images/CARD-1.jpg" alt="card-1-img"></div>
            <div class="px-3">
                <h4 class="pt-4">The History Of Shopping Told</h4>
                <p class="pt-2">Mintel, 1980 a videotex online service accessible by telephone lines, could be used to make online purchases, train reservations, check stock prices, chat and search a telephone directory.
                    It is considered the most successful pre WWW online service.</p>
            </div>
        </div>
        <div class="card pb-3">
            <div  class="d-flex justify-content-center "><img src="../../../assets/images/CARD-2.jpg" alt="card-2-img" width="350px"></div>
            <div class="px-3">
                <h4 class="pt-4">The Extreme crave in Shopping</h4>
                <p class="pt-2">Ever walked into a store or logged into a website and felt like everything was tailored just for you? That’s the magic of personalized shopping experiences! In the 21st century, shoppers crave more than just a product — they’re searching for an experience. Companies that master e-commerce personalization create strong emotional connections with their customers. Thus boosting loyalty and driving sales.</p>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>